<div class="row">
  <div class="col-lg-4">
    <p>
      a. Ruby on Rails bootstrap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
    </p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Middle</button>
    </div>
  </div>
  <div class="col-lg-4">
    <p>
      a. Ruby on Rails bootstrap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
    </p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Middle</button>
    </div>
  </div>
  <div class="col-lg-4">
    <p>
      a. Ruby on Rails bootstrap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
    </p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Middle</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>
      a. Ruby on Rails bootstrap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
    </p>
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Middle</button>
  </div>
  </div>
  <div class="col-lg-4">
    <p>
      a. Ruby on Rails bootstrap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
    </p>
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Middle</button>
  </div>
  </div>
  <div class="col-lg-4">
    <p>
      a. Ruby on Rails bootstrap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
    </p>
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Middle</button>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>a. Ruby on Rails bo
      ots
      trap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
      </p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Middle</button>
    </div>
  </div>
  <div class="col-lg-4">
    <p>a. Ruby on Rails bo
      ots
      trap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
      </p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Middle</button>
    </div>
  </div>
  <div class="col-lg-4">
    <p>a. Ruby on Rails bo
      ots
      trap-sass is easy to drop into Rails with the asset pipeline. In your Gemfile you need to add the bootstrap-sass gem, and ensure that the sass-rails gem is present - it is added to new Rails applications by default.
      </p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Middle</button>
    </div>
  </div>
</div>
