<nav class='container'>
  <div class='center-block' style="width:300px">
    <ul class="nav navbar-nav " >
      <li>
        <a  href="#">Home</a>
      </li>
      <li>
        <a  href="#">About</a>
      </li>
      <li>
        <a  href="#">Contact</a>
      </li>
    </ul>
  </div>

</nav>
<div class='container' >
  <div class='row'>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
  </div>
  <div class='row'>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
  </div>
  <div class='row'>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
    <div class='col-lg-4'><p>*_<</p><button class='btn btn-danger'></button></div>
  </div>
</div>
